In [2]:
#largest of 3 number

a=15
b=5
c=30
if (a>=b) and (a>=c):
    print(a)
elif (b>=a) and (b>=c):
    print(b)
else:
    print(c)

30

In [4]:
#reverse a string

s="hello world"
k=s[::-1]
print(k)

dlrow olleh

In [6]:
#armstrong number

num=int(input("enter the number"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum=sum+(digit**3)
    temp=temp//10

if num==sum:
    print("armstrong number")

else:
    print("not an armstrong number")

enter the number 15

not an armstrong number

In [10]:
#multiplication table

n=int(input("enter the number"))
for i in range(1,11):
    print(num,'x',i,'=',n*i)

enter the number 5

15 x 1 = 5
15 x 2 = 10
15 x 3 = 15
15 x 4 = 20
15 x 5 = 25
15 x 6 = 30
15 x 7 = 35
15 x 8 = 40
15 x 9 = 45
15 x 10 = 50

In [14]:
#convert celsius to fehrenheit

celsius=float(input("enter the temperature in celsius"))
fahrenheit=(celsius*1.8)+32
print(fahrenheit)

#celsius=(fahrenheit-32)/1.8

enter the temperature in celsius 32.5

90.5

In [16]:
#find common elements between two lists

a=[1,2,3,4,5]
b=[4,5,6,7,8]
k=list(set(a) & set(b))
k

[4, 5]

In [20]:
#area of a circle

import math
r=int(input("enter the radius"))
area=math.pi*(r**2)
area

enter the radius 5

78.53981633974483

In [22]:
pi=3.142
r=5
area=pi*(r**2)
area

78.55

In [26]:
#check positive,negative or zero

n=int(input("enter the number"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

enter the number -5

negative

In [28]:
#convert decimal to binary

n=int(input("enter the number"))
res=''
while n>0:
    res=str(n%2)+res
    n=n//2

print(res)

enter the number 7

111

In [36]:
#sum of all the elements in a list

a = [10,20,30,40]
res = sum(a)
print(res)

TypeError: 'int' object is not callable

In [42]:
#sum of all the elements in a list

a = [10,20,30,40]
sum=0
for i in a:
    sum=sum+i

print(sum)

100

In [46]:
#check if all characters in string are unique

str="abcbd"
x=list(set(str))
y=list(str)
x.sort()
y.sort()
if(x==y):
    print("true")

else:
    print("false")

false